extends layout

block content
  .container
    .row
      .col-md-12
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          a.navbar-brand(href='/applications/dashboard') Dashboard
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarNav
            ul.navbar-nav.mr-auto
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='/users/logout') Logout
    .row.mt-4
      .col-md-12
        h2.text-center= application.name
        form(action='/applications/update', method='POST', enctype='multipart/form-data')
            .form-group
            input#version.form-control(type='hidden', name='id', required=true value= application.id)
            .form-group
            label(for='appName') App Name
            label.form-control(disabled)= application.name
            .form-group
            label(for='packageName') Package Name
            label.form-control(disabled)= application.packageName
            .form-group
            label(for='version') Version
            input#version.form-control(type='text', name='version', required=true value= application.version)
            .form-group
            label(for='file') APK File
            input#file.form-control-file.form-control(type='file', name='file', required=true)
            button.btn.btn-primary(type='submit') Update

        form(action='/applications/delete', method='POST')
            .form-group
            input#delVersion.form-control(type='hidden', name='id', required=true value= application.id)
            button.btn.btn-danger(type='submit') Delete App
